In [1]:
#-----------select the common drugs

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import os
print(os.path.abspath('.'))

In [3]:
def same_element(list1,list2):
    set1 = set(list1)
    set2 = set(list2)
    return (set1 & set2),(set1 ^ set2),((set1|set2)-set2),((set1|set2)-set1)

In [4]:
yMC=pd.read_csv('y_pred_TIE2_MORGAN_CNN_SORTED.csv')
yMC.head()

   Unnamed: 0                                               drug     y_pred
0        1364  CC1=C(C=C(C=C1)C(=O)NC2=CC(=C(C=C2)CN3CCN(CC3)...  14.980024
1        1035       CC1=CC(=C(C2=C1C3=CC(=CC(=C3C(=O)O2)O)OC)O)O  14.812361
2        1021          CC1=CC(=CC2=C1C3=CC(=CC(=C3C(=O)O2)O)OC)O  14.599028
3        1019      CC1=C(C=C2C(=C1)C(=O)C3=CC(=CC(=C3C2=O)O)OC)O  14.563701
4        1612  CN(C)C1CCCN(C1)C2=C(C=C(C=C2)C(F)(F)F)NC(=O)C3...  14.519209

In [5]:
yMC2=yMC.loc[:99,'Unnamed: 0']
yMC3=pd.DataFrame(yMC2)

In [6]:
yRC=pd.read_csv('y_pred_TIE2_RDKIT_CON_SORTED.csv')
yRC2=yRC.loc[:99,'Unnamed: 0']
yRC3=pd.DataFrame(yRC2)

In [7]:
yCA=pd.read_csv('y_pred_TIE2_CNN_AAC_SORTED.csv')
yCA2=yCA.loc[:99,'Unnamed: 0']
yCA3=pd.DataFrame(yCA2)

In [9]:
yCC=pd.read_csv('y_pred_TIE2_CNN_CNN_SORTED.csv')
yCC2=yCC.loc[:99,'Unnamed: 0']
yCC3=pd.DataFrame(yCC2)

In [10]:
yMPC=pd.read_csv('y_pred_TIE2_MPNN_CNN_SORTED.csv')
yMPC2=yMPC.loc[:99,'Unnamed: 0']
yMPC3=pd.DataFrame(yMPC2)

In [11]:
yRA=pd.read_csv('y_pred_TIE2_RDKIT_AAC_SORTED.csv')
yRA2=yRA.loc[:99,'Unnamed: 0']
yRA3=pd.DataFrame(yRA2)

In [12]:
yRT=pd.read_csv('y_pred_TIE2_RDKIT_TRANS_SORTED.csv')
yRT2=yRT.loc[:99,'Unnamed: 0']
yRT3=pd.DataFrame(yRT2)

In [13]:
yMA=pd.read_csv('y_pred_TIE2_MPNN_AAC_SORTED.csv')
yMA2=yMA.loc[:99,'Unnamed: 0']
yMA3=pd.DataFrame(yMA2)

In [14]:
yMT=pd.read_csv('y_pred_TIE2_MORGAN_TRANS_SORTED.csv')
yMT2=yMT.loc[:99,'Unnamed: 0']
yMT3=pd.DataFrame(yMT2)

In [15]:
yTA=pd.read_csv('y_pred_TIE2_TRANS_AAC_SORTED.csv')
yTA2=yTA.loc[:99,'Unnamed: 0']
yTA3=pd.DataFrame(yTA2)

In [16]:
def same_element10(list1,list2,list3,list4,list5,list6,list7,list8,list9,list10):
    set1 = set(list1)
    set2 = set(list2)
    set3 = set(list3)
    set4 = set(list4)
    set5 = set(list5)
    set6 = set(list6)
    set7 = set(list7)
    set8 = set(list8)
    set9 = set(list9)
    set10 = set(list10)

    return (set1 & set2 & set3 & set4 & set5 & set6 & set7 & set8 & set9 & set10)

In [ ]:
same = same_element10(yMC3['Unnamed: 0'], yRC3['Unnamed: 0'], yCA3['Unnamed: 0'], yCC3['Unnamed: 0'], yMPC3['Unnamed: 0'], yRA3['Unnamed: 0'], yRT3['Unnamed: 0'], yMA3['Unnamed: 0'], yMT3['Unnamed: 0'], yTA3['Unnamed: 0'])
print('the common drugs: ',same,'the num of common: ',len(same))

In [ ]:
#{1028, 1031, 1033, 1034, 1035, 1036, 1038, 1039, 1426, 1562, 157, 1445, 1457, 1606, 843, 1361, 1364, 601, 2034, 1015, 1019, 1020, 1021, 1022, 1023} 相同元素个数： 25